.pregunta1 {
    background: aquamarine;    
}
.pregunta2{
    background: beige;
}
.pregunta3{
    color: red;
}
.pregunta6{
    color: blueviolet;
}
.pregunta7{
    background: yellow;
}
.pregunta8{
    background: gray;
}